#root {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;    
    text-align: center;
/*     background-color: #19274A; */
  }

.editButton {
  align-self: flex-end;
  /* justify-self: ; */
  background-color: #EF4343;
}


.note-card {
  
  background-color:blanchedalmond;
}